# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
.vscode/
.pub/
.pub-cache/
coverage/
generated/
*.stamp
.packages
.symlinks/
*.symbols
androidPackages/
ios/build/
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/.gradle/
android/captures/
android/local.properties
android/gradlew
android/gradlew.bat
android/gradle/
android/.settings/
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift
example/.metadata
example/android/
example/ios/
example/web/
example/build/
example/.dart_tool/
example/.flutter-plugins
example/.flutter-plugins-dependencies
example/.packages
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
